{% extends 'dnaedit/base.html' %}

{% block pagetitle %}Starting Page{% endblock %}

{% block content %}

<form id="uploadImage" enctype="multipart/form-data">
    <input name="lab_name" type="text" placeholder="Type lab name here."/> <input name="lab_file" type="file" />
    <input type="button" value="Upload"/>
</form>

<div id="message"></div>

{% endblock %}


{% block js %}

<script>


$(':button').click(function(){
    var formData;
    formData = new FormData($('form')[0]);
    $.ajax({
    	url: "{% url 'dnaedit:uploadLabFile' %}",
    	type: "POST",
    	data: formData,
    	processData: false,  // tell jQuery not to process the data
  		contentType: false,   // tell jQuery not to set contentType
    	success: function(data){
    		console.log(data);
    		$("#message").html("<p>"+data.message+"</p>");
    	},
    
    });
});

</script>

{% endblock %}