<!DOCTYPE html>
<html>
 <head>
 <link rel="stylesheet" type="text/css" href="../stylesheet/style.css">
	<title>
		BioEdit 2.0
	</title>
	
 </head>
 <body>
	
	<div class = "box">
		BioEdit
	</div>
	<div style  = " padding-bottom:100px;">		
		<div style = "float: left;">
			<button class = "button" onclick= "showSelect()">
				File Select
			</button>
		</div>
		<div style = "float: left;">
			<button class = "button"  onClick= "showSpeciesDiv()">
				Select Species
			</button>
		</div>		
		<div style = "float: left;">
			<button class = "button" >
				Waveform
			</button>
		</div>		
		<div style = "float: left;">
			<button class = "button" onClick= "showTopology()">
				Topology
			</button>
		</div>		
		<!-- <div>		
			<button class = "button" onClick= "showDotMatrix()">
				Dot Matrix
			</button>
		</div> -->
	</div>	
	
	<div style = "float right; padding-left:100px; padding-top:50px;">
		<div id = "selectDiv" class = "selectDiv" style = "position: absolute; padding-left: 100px;">
			<button> Browse </button>
			<input type="text" readonly>
			<button> Upload </button>
		</div>	
		
		<div id = "speciesDiv" style = "position: absolute;" hidden = "true">			
			<div style = "padding-bottom: 40px; padding-left: 10px;">Select the dominate species and align.</div>
			<label id="positionLabel" style="position:relative; padding-left:1110px; color:red;">0/250</label>
			<div class = "speciesDiv" contenteditable="true" onClick="style.backgroundColor='#84DFC1';">
			Species 1
				<div id = "test" contenteditable="true" class="textbox"type="text" value = "AAAAAAAAAAAAAAAAA" > </div>
			</div>
			<div class = "speciesDiv" contenteditable="true" onClick="style.backgroundColor='#84DFC1';">
			Species 1
				<div id = "test" contenteditable="true" class="textbox"type="text" value = "AAAAAAAAAAAAAAAAA" > </div>
			</div>
			<div class = "speciesDiv" contenteditable="true" onClick="style.backgroundColor='#84DFC1';">
			Species 1
				<div id = "test" contenteditable="true" class="textbox"type="text" value = "AAAAAAAAAAAAAAAAA" > </div>
			</div>
			<div style = "padding-left: 200px; padding-top:50px;">
				<input type= "button" value = "Align" class = "round-button" onClick= "showTopology();"/>
			</div>
		</div>	
		<div id = "TopologyDiv" style = "position: absolute;" hidden = "true">
			<img src="../images/placeholderTopologyTree.jpg" height="90%" width="300%">
		</div>		
		<div id = "WaveformDiv" style = "position: absolute;" hidden = "true">
	</div>	
	
	<script>
	
		function getCharacterOffsetWithin(range, node) {
			var treeWalker = document.createTreeWalker(
				node,
				NodeFilter.SHOW_TEXT,
				function(node) {
					var nodeRange = document.createRange();
					nodeRange.selectNodeContents(node);
					return nodeRange.compareBoundaryPoints(Range.END_TO_END, range) < 1 ?
						NodeFilter.FILTER_ACCEPT : NodeFilter.FILTER_REJECT;
				},
				false
			);

			var charCount = 0;
			while (treeWalker.nextNode()) {
				charCount += treeWalker.currentNode.length;
			}
			if (range.startContainer.nodeType == 3) {
				charCount += range.startOffset;
			}
			return charCount;
		}

		document.body.addEventListener("mouseup", function() {
			var el = document.getElementById("test");
			var range = window.getSelection().getRangeAt(0);
			<!-- console.log("Caret char pos: " + getCharacterOffsetWithin(range, el)) -->
			var label = document.getElementById("positionLabel");
			label.innerHTML = getCharacterOffsetWithin(range, el) + '/250';
		}, false);
	
		function showSelect()
		{
			var topology=document.getElementById("TopologyDiv");
			topology.hidden = true;
			<!-- var dotMatrix=document.getElementById("DotMatrixDiv"); -->
			<!-- dotMatrix.hidden = true; -->
			var species =document.getElementById("speciesDiv");
			species.hidden = true;
			var select=document.getElementById("selectDiv");
			select.hidden = false;
		}
		function showTopology()
		{
			 var topology=document.getElementById("TopologyDiv");
			 topology.hidden = false;
			 <!-- var dotMatrix=document.getElementById("DotMatrixDiv"); -->
			<!--  dotMatrix.hidden = true; -->
		}
		
		function showDotMatrix()
		{
			var topology=document.getElementById("TopologyDiv");
			topology.hidden = true;
			<!-- var dotMatrix=document.getElementById("DotMatrixDiv"); -->
			<!-- dotMatrix.hidden = false; -->
		}
		
		function showSpeciesDiv()
		{
			var topology=document.getElementById("TopologyDiv");
			topology.hidden = true;
			<!-- var dotMatrix=document.getElementById("DotMatrixDiv"); -->
			<!-- dotMatrix.hidden = true; -->
			var select=document.getElementById("selectDiv");
			select.hidden = true;
			var species =document.getElementById("speciesDiv");
			species.hidden = false;
			
		}
		
		
	</script> 
	
 </body>
 
</html>